{% extends 'proyectoWebApp/base.html' %} {% load static %} {% block content %}

<h1 style="color: azure">TIENDA</h1>

<div class="container">

    <p style="color: white">
      {% if request.user.is_authenticated %}
        <div style="float: right">
          {% include 'carrito/widget.html' %}
        </div>
      {% else %}
        <div class="alert alert-danger text-center">
          Se debe iniciar sesión para realizar un pedido.
        </div>
      {% endif %}
    </p>



  <div class="row">
    {% for producto in productos%}

    <div class="col-md-3">
      <div class="card" style="width: 100%; margin: 5px 5px">
        <img src="{{ producto.imagen.url }}" class="card-img-top" />

        <div class="card-body" style="text-align: center">
          <h7 class="card-title"> {{ producto.nombre }} </h7>
          <p class="card-text">$&nbsp;{{ producto.precio }}</p>
        </div>

        <div class="card-footer text-center">
          <a href="{% url 'carrito:agregar' producto.id %}" class="btn btn-success">Agregar 🛒</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
